<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="NGS" lan="LAN_FR" version="0.9" date="2013-09-11" compatibility="2.0" installRequired="true" >
	<author name="NGS" url="NGS@IRC.fr" />
	<summary lan="LAN_FR">NGS</summary>
	<description lan="LAN_FR">NGS plugin</description>
	<keywords>
		<word>genome</word>
		<word>sequencing</word>
	</keywords>
	<category>tools</category>
	<copyright>IRC</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/icon_32.png" iconSmall="images/icon_16.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
</e107Plugin>
