#########
# STARK #
#########
# Usage: docker-compose up

version: '3'

# SERVICES
##########

services:


    # STARK CLI
    STARK-module-STARK-service-CLI:
        image: ${DOCKER_STARK_SERVICE_STARK_CLI_IMAGE}
        container_name: ${DOCKER_STARK_SERVICE_STARK_CLI_CONTAINER_NAME}
        entrypoint: /bin/bash
        command: -c "while true; do sleep ${DOCKER_STARK_SERVICE_STARK_CLI_SLEEP}; done"
        volumes:
            # Config
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATABASES}:${DOCKER_STARK_INNER_FOLDER_DATABASES}:ro
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_CONFIG_MYAPPS}:${DOCKER_STARK_INNER_FOLDER_CONFIG_MYAPPS}:ro
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_CONFIG_HOWARD}:${DOCKER_STARK_INNER_FOLDER_CONFIG_HOWARD}:ro
            # Input
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATA}:${DOCKER_STARK_INNER_FOLDER_DATA}:rw
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_INPUT}:${DOCKER_STARK_INNER_FOLDER_INPUT}:ro
            # Output
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}:${DOCKER_STARK_INNER_FOLDER_OUTPUT_REPOSITORY}:rw
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_ARCHIVE}:${DOCKER_STARK_INNER_FOLDER_OUTPUT_ARCHIVE}:rw
        restart: always
        env_file:
            - ${DOCKER_COMPOSE_SERVICE_STARK_MODULE_ENV}
        networks:
            - stark_stark


    # STARK API
    STARK-module-STARK-service-API:
        image: ${DOCKER_STARK_SERVICE_STARK_API_IMAGE}
        build:
            context: ${DOCKER_STARK_SERVICE_STARK_API_CONTEXT}
            dockerfile: Dockerfile
        container_name: ${DOCKER_STARK_SERVICE_STARK_API_CONTAINER_NAME}
        env_file:
            - ${DOCKER_COMPOSE_SERVICE_STARK_MODULE_ENV}
        environment:
            # Docker STARK image
            - DOCKER_STARK_IMAGE=${DOCKER_STARK_IMAGE}
            # Task Spooler parameters
            - TS=ts
            - TS_SAVELIST=${TASK_SPOOLER_TS_SAVELIST}
            # Docker STARK container mount parameters (default "", no acces to data. Usually databases, config, input, output, and API log) 
            # Docker STARK container mount parameters - databases config data input repository archive services
            - DOCKER_STARK_SERVICE_STARK_API_CONTAINER_MOUNT=-v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATABASES}:${DOCKER_STARK_INNER_FOLDER_DATABASES}:ro -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_CONFIG_MYAPPS}:${DOCKER_STARK_INNER_FOLDER_CONFIG_MYAPPS}:ro -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_CONFIG_HOWARD}:${DOCKER_STARK_INNER_FOLDER_CONFIG_HOWARD}:ro -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATA}:${DOCKER_STARK_INNER_FOLDER_DATA}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_INPUT}:${DOCKER_STARK_INNER_FOLDER_INPUT}:ro -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}:${DOCKER_STARK_INNER_FOLDER_OUTPUT_REPOSITORY}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_ARCHIVE}:${DOCKER_STARK_INNER_FOLDER_OUTPUT_ARCHIVE}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_SERVICES}/${DOCKER_STARK_SERVICES_FOLDER_STARK_API}:${DOCKER_STARK_INNER_FOLDER_SERVICES}/${DOCKER_STARK_SERVICES_FOLDER_STARK_API}
            # Docker STARK container mount parameters - databases config data input repository archive services results demultiplexing
            #- DOCKER_STARK_SERVICE_STARK_API_CONTAINER_MOUNT=-v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATABASES}:${DOCKER_STARK_INNER_FOLDER_DATABASES}:ro -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_CONFIG_MYAPPS}:${DOCKER_STARK_INNER_FOLDER_CONFIG_MYAPPS}:ro -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_CONFIG_HOWARD}:${DOCKER_STARK_INNER_FOLDER_CONFIG_HOWARD}:ro -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATA}:${DOCKER_STARK_INNER_FOLDER_DATA}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_INPUT}:${DOCKER_STARK_INNER_FOLDER_INPUT}:ro -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}:${DOCKER_STARK_INNER_FOLDER_OUTPUT_REPOSITORY}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_RESULTS}:${DOCKER_STARK_INNER_FOLDER_OUTPUT_RESULTS}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_DEMULTIPLEXING}:${DOCKER_STARK_INNER_FOLDER_OUTPUT_DEMULTIPLEXING}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_ARCHIVE}:${DOCKER_STARK_INNER_FOLDER_OUTPUT_ARCHIVE}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_SERVICES}/${DOCKER_STARK_SERVICES_FOLDER_STARK_API}:${DOCKER_STARK_INNER_FOLDER_SERVICES}/${DOCKER_STARK_SERVICES_FOLDER_STARK_API}
            # Inner log folder (default "/STARK/services/STARK/API")
            - DOCKER_STARK_SERVICE_STARK_API_LOG_FOLDER=${DOCKER_STARK_INNER_FOLDER_MAIN}/${DOCKER_STARK_FOLDER_SERVICES}/${DOCKER_STARK_SERVICES_FOLDER_STARK_API}
            # Inner runs folder (default "/STARK/input/runs")
            - DOCKER_STARK_SERVICE_STARK_API_RUNS_FOLDER=${DOCKER_STARK_INNER_FOLDER_MAIN}/${DOCKER_STARK_FOLDER_INPUT}/runs 
        ports:
            - ${DOCKER_STARK_SERVICE_PORT_PATTERN}${DOCKER_STARK_SERVICE_STARK_API_PORT}:${DOCKER_STARK_SERVICE_STARK_API_PORT_INNER}
        volumes:
            # Docker sock
            - /var/run/docker.sock:/var/run/docker.sock
            # Inner runs folder (default "/STARK/input/runs")
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_INPUT}:${DOCKER_STARK_INNER_FOLDER_INPUT}:ro
            # Inner log folder (default "/STARK/services/STARK/API")
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_SERVICES}/${DOCKER_STARK_SERVICES_FOLDER_STARK_API}:${TASK_SPOOLER_TS_SAVELIST}:rw
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_SERVICES}/${DOCKER_STARK_SERVICES_FOLDER_STARK_API}:${DOCKER_STARK_INNER_FOLDER_SERVICES}/${DOCKER_STARK_SERVICES_FOLDER_STARK_API}:rw
        restart: always
        networks:
            - ${DOCKER_STARK_NETWORK}


    # STARK DAS
    STARK-module-STARK-service-DAS:
        image: ${DOCKER_STARK_SERVICE_STARK_DAS_IMAGE}
        build:
            context: ${DOCKER_STARK_SERVICE_STARK_DAS_CONTEXT}
            dockerfile: Dockerfile
        container_name: ${DOCKER_STARK_SERVICE_STARK_DAS_CONTAINER_NAME}
        restart: always
        env_file:
            - ${DOCKER_COMPOSE_SERVICE_STARK_MODULE_ENV}
        ports:
            - ${DOCKER_STARK_SERVICE_PORT_PATTERN}${DOCKER_STARK_SERVICE_STARK_DAS_PORT}:${DOCKER_STARK_SERVICE_STARK_DAS_PORT_INNER}
        volumes:
            # Data folders available (need to be coherent with other services)
            # Services
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_SERVICES}:${DOCKER_STARK_SERVICE_STARK_DAS_INNER_FOLDER_DATA}/${DOCKER_STARK_SERVICE_STARK_DAS_PUBLIC_DIR}/${DOCKER_STARK_SERVICE_STARK_DAS_SUBFOLDER_SERVICES}:ro
            # Config
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATABASES}:${DOCKER_STARK_SERVICE_STARK_DAS_INNER_FOLDER_DATA}/${DOCKER_STARK_SERVICE_STARK_DAS_PUBLIC_DIR}/${DOCKER_STARK_SERVICE_STARK_DAS_SUBFOLDER_DATABASES}:ro
            # Input
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATA}:${DOCKER_STARK_SERVICE_STARK_DAS_INNER_FOLDER_DATA}/${DOCKER_STARK_SERVICE_STARK_DAS_PUBLIC_DIR}/${DOCKER_STARK_SERVICE_STARK_DAS_SUBFOLDER_INPUTS}/Data:ro
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_INPUT}:${DOCKER_STARK_SERVICE_STARK_DAS_INNER_FOLDER_DATA}/${DOCKER_STARK_SERVICE_STARK_DAS_PUBLIC_DIR}/${DOCKER_STARK_SERVICE_STARK_DAS_SUBFOLDER_INPUTS}/Input:ro
            # Output
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}:${DOCKER_STARK_SERVICE_STARK_DAS_INNER_FOLDER_DATA}/${DOCKER_STARK_SERVICE_STARK_DAS_PUBLIC_DIR}/${DOCKER_STARK_SERVICE_STARK_DAS_SUBFOLDER_REPOSITORIES}/Repository:ro
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_ARCHIVE}:${DOCKER_STARK_SERVICE_STARK_DAS_INNER_FOLDER_DATA}/${DOCKER_STARK_SERVICE_STARK_DAS_PUBLIC_DIR}/${DOCKER_STARK_SERVICE_STARK_DAS_SUBFOLDER_REPOSITORIES}/Archive:ro
        restart: always
        networks:
            - ${DOCKER_STARK_NETWORK}


    # STARK SERVICE LISTENER
    STARK-module-STARK-service-listener:
        image: ${DOCKER_STARK_SERVICE_STARK_LISTENER_IMAGE}
        entrypoint: /tool/bin/STARK.listener
        command: --no_header --command="LAUNCHER" --launcher="http://${DOCKER_STARK_SERVICE_STARK_API_CONTAINER_NAME}:${DOCKER_STARK_SERVICE_STARK_API_PORT_INNER}/analysis" --days=${DOCKER_STARK_SERVICE_STARK_LISTENER_DAYS} --condition="${DOCKER_STARK_SERVICE_STARK_LISTENER_CONDITION}" --exec --daemon --daemon-periodicity=${DOCKER_STARK_SERVICE_STARK_LISTENER_DAEMON_PERIODICITY} --log=${DOCKER_STARK_INNER_FOLDER_SERVICES}/${DOCKER_STARK_SERVICE_FOLDER_STARK_LISTENER}
        container_name: ${DOCKER_STARK_SERVICE_STARK_LISTENER_CONTAINER_NAME}
        env_file:
            - ${DOCKER_COMPOSE_SERVICE_STARK_MODULE_ENV}
        volumes:
            # Config
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATABASES}:${DOCKER_STARK_INNER_FOLDER_DATABASES}:ro
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_CONFIG_MYAPPS}:${DOCKER_STARK_INNER_FOLDER_CONFIG_MYAPPS}:ro
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_CONFIG_HOWARD}:${DOCKER_STARK_INNER_FOLDER_CONFIG_HOWARD}:ro
            # Input
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATA}:${DOCKER_STARK_INNER_FOLDER_DATA}:rw
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_INPUT}:${DOCKER_STARK_INNER_FOLDER_INPUT}:ro
            # Output
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}:${DOCKER_STARK_INNER_FOLDER_OUTPUT_REPOSITORY}:rw
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_ARCHIVE}:${DOCKER_STARK_INNER_FOLDER_OUTPUT_ARCHIVE}:rw
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_SERVICES}/${DOCKER_STARK_SERVICE_FOLDER_STARK_LISTENER}:${DOCKER_STARK_INNER_FOLDER_SERVICES}/${DOCKER_STARK_SERVICE_FOLDER_STARK_LISTENER}:rw
        restart: always
        depends_on:
            - STARK-module-STARK-service-API
            - STARK-module-STARK-service-listener-clear
        networks:
            - ${DOCKER_STARK_NETWORK}


    # STARK SERVICE LISTENER CLEAR
    STARK-module-STARK-service-listener-clear:
        image: ${DOCKER_STARK_SERVICE_STARK_LISTENER_CLEAR_IMAGE}
        entrypoint: /tool/bin/STARK.listener.clear
        command: --clear --listener="${DOCKER_STARK_INNER_FOLDER_SERVICES}/${DOCKER_STARK_SERVICE_FOLDER_STARK_LISTENER}" --launcher="${DOCKER_STARK_INNER_FOLDER_MAIN}/${DOCKER_STARK_FOLDER_SERVICES}/${DOCKER_STARK_SERVICES_FOLDER_STARK_API}"
        container_name: ${DOCKER_STARK_SERVICE_STARK_LISTENER_CLEAR_CONTAINER_NAME}
        env_file:
            - ${DOCKER_COMPOSE_SERVICE_STARK_MODULE_ENV}
        volumes:
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_SERVICES}/${DOCKER_STARK_SERVICE_FOLDER_STARK_LISTENER}:${DOCKER_STARK_INNER_FOLDER_SERVICES}/${DOCKER_STARK_SERVICE_FOLDER_STARK_LISTENER}:rw
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_SERVICES}/${DOCKER_STARK_SERVICES_FOLDER_STARK_API}:${DOCKER_STARK_INNER_FOLDER_MAIN}/${DOCKER_STARK_FOLDER_SERVICES}/${DOCKER_STARK_SERVICES_FOLDER_STARK_API}:ro
        networks:
            - ${DOCKER_STARK_NETWORK}



# NETWORK
###########

networks:
    stark_stark:
        external: true
